streamlit==1.52.0

numpy>=2.1
pandas
scipy
scikit-learn
joblib
pyyaml
requests
tqdm
python-dotenv

torch
torchvision
torchaudio
timm
efficientnet-pytorch
torchcam
shap

opencv-python-headless
pillow
scikit-image

faiss-cpu
sentence-transformers
rank-bm25
langchain
transformers
huggingface-hub

pdfplumber
pdfminer.six
pdf2image
pytesseract

google-generativeai
google-ai-generativelanguage
